
{% extends 'base.html.twig' %}

{% block title %}  lalalal  {%  endblock %}

{% block body %}
        <p>Id {{ id }}</p>
        <h3> {{ post.title }} </h3>
        <p> {{ post.text }}</p>
{% endblock %}
